@font-face {
    font-family: "Quicksand";
    src: url("fonts/QUICKSAND-REGULAR.TTF");
}

@font-face {
    font-family: "Honey Script";
    src: url("fonts/HONEYSCRIPT-LIGHT.TTF");
}

@font-face {
    font-family: "BAUHS";
    src: url("fonts/FUGAZONE-REGULAR.TTF");
}

* {
    font-family: "Quicksand";
}

.logo {
    height: 100px;
    background-image: url("resources/greenelec_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.title1 {
    font-family: "Quicksand";
    font-size: 40px;
    letter-spacing: 3px;
}

.title {
    font-family: "BAUHS";
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: bold;
    color: rgb(67, 63, 63);
}

.back {
    background-color: rgba(255, 255, 255, 0.57);
    border-radius: 10px;
}

.background {
    background-image: url("resources/background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.title2 {
    font-weight: bold;
}

.main-background {
    background-image: url("resources/background-body.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.label1 {
    font-size: 16px;
}

.label2 {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.logot {
    font-family: "BAUHS";
    font-size: 40px;
    color: rgb(18, 119, 18);
    text-shadow: 1px 1px black;
}

.carticon {
    height: 32px;
    background-image: url("new resources/cartico.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hrbreak1 {
    border-style: solid;
    border-color: rgb(255, 196, 0);
    border-width: 3px;
}

.logoimg {
    height: 80px;
    background-image: url("resources/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.searchbtn {
    height: 50px;
}

.link1 {
    text-decoration: none;
    font-weight: bold;
}

.posterimg1 {
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
}

.postercaption {
    margin-bottom: 140px;
}

.postertitle {
    font-size: 55px;
    color: rgb(255, 255, 255);
}

.postertxt {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.postercaption1 {
    margin-bottom: 70px;
    margin-right: 250px;
}

.link2 {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.link2:hover {
    text-decoration: underline;
}

.link3 {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.link3:hover {
    text-decoration: underline;
}

.cardTopImg {
    height: 25vh;
}

.lbl1 {
    font-size: 24px;
    font-weight: bold;
}

.pm1 {
    background-image: url("payment_method_images/paypal_img.png");
}

.pm2 {
    background-image: url("payment_method_images/visa_img.png");
}

.pm3 {
    background-image: url("payment_method_images/mastercard_img.png");
}

.pm4 {
    background-image: url("payment_method_images/american_express_img.png");
}

.pm {
    height: 75px;
    background-repeat: no-repeat;
    background-size: contain;
}

.productimg {
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    border-width: 2px;
    border-radius: 8px;
    border-color: rgb(0, 61, 2);
    border-style: solid;
}

.side {
    float: left;
    width: 15%;
}

.bar5 {
    height: 25px;
}


/* ///////////////// */

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: black;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.searchbtn1 {
    width: 100%;
}

.singleproduct {
    padding-top: 65px;
    padding-bottom: 145px;
    background-color: #01c4ff88;
    padding: 20px;
}

.product_qty {
    width: 205px;
    height: 50px;
    padding-left: 8px;
    padding-bottom: 15px;
    margin-right: 22px;
    margin-bottom: 11px;
}

.qty-buttons {
    right: 0;
    height: 100%;
    width: 30px;
    border: solid 1px #e5e5e5;
}

.qty-inc,
.qty-dec {
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.qty-inc {
    padding-bottom: 2px;
    justify-content: flex-end;
    border-top-right-radius: 5px;
}

.qty-dec {
    padding-top: 2px;
    justify-content: flex-end;
    border-bottom-right-radius: 5px;
}

.emptyview {
    height: 400px;
    background-image: url("resources/watchlistEmptyView.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.emptycart {
    height: 400px;
    background-image: url("resources/emptycart.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.cartqtytxt {
    width: 100px;
    height: 40px;
    outline: none;
}

.invoiceheaderimg {
    height: 80px;
    background-image: url("resources/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.message-box,
.chatbox {
    height: 510px;
    overflow-y: scroll;
}

.firstplace {
    height: 90px;
    background-image: url("resources/firstplace.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.addnewimg {
    height: 50px;
    background-image: url("resources/addnew.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 50%;
}


/* https://www.atyantik.com/creating-card-layout-with-css3-grid/ */